*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: crosshair;
    transition: all 0.2s;
    list-style: none;
    font-family: sans-serif;
}

.div{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#595959;
    /* display: grid; */
}
.div > div {
    width: 500px;
    aspect-ratio: 1;
    border: 1px red solid;
}
.fly-bttn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%; /* make the button round */
    position: absolute;
    transition: transform 0.2s ease-out;
}
.fly-bttn:hover{
    cursor: pointer;
}
.button-div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --color: #00b33c;
    --bg: hsl(220, 45%, 90%);
    --shadow-inset: 6px 6px 20px -6px hsl(220, 43%, 80%) inset, 
                    -6px -6px 20px -6px hsl(0, 0%, 100%) inset;
    --shadow-hover-inset: 6px 6px 10px -2px hsl(220, 43%, 75%), 
            -6px -6px 10px -2px hsl(0, 0%, 100%), 6px 6px 10px -2px hsl(220, 43%, 80%) inset, 
            -6px -6px 10px -2px hsl(0, 0%, 100%) inset;
    --shadow: 6px 6px 20px -2px hsl(220, 43%,70%), 
    -6px -6px 20px -10px hsl(0, 0%, 100%);
}
.botones-div{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    flex-direction: column;
    align-items: center;
}
.botones-div > div{
    margin: auto;
}
.switch-holder{
    display: flex;
    margin: auto;
    padding: .7em 1em;
    border-radius: .5em;
    box-shadow: var(--shadow-hover-inset);
    border: .5px solid var(--bg);
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    background-color: var(--bg);
}
.switch-label{
    padding: .5em 1em;
}
.switch-toogle{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 43px;
    border-radius: 1.5em;
    cursor: pointer;
    border: 2px solid var(--bg);
    box-shadow: var(--shadow-hover-inset);
    transition: border-color 0.3s ease-in-out;
    font-weight: 400;
}
.switch-toogle::before{
    position: absolute;
    content: 'OFF';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 6px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 1em;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    transition: left 0.3s ease-in-out;
}
.input:checked + .switch-label{
    color: var(--color);
}
.input:checked ~ .switch-toogle{
    border-color: var(--color);
}
.input:checked ~ .switch-toogle:before{
    left: 50%;
    content: "ON";
    color: #fff;
    background-color: var(--color);
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px var(--color);
}
.redes{
    margin: auto;
    padding: 1.5em 3em;
    display: flex;
    gap: 1.5em;
}
.red{
    width: 60px;
    height: 60px;
    border-radius: 2em;
    box-shadow: var(--shadow);
    text-align: center;
    transition: box-shadow .5s, width .5s;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--bg);
}
.icon{
    font-size: 1.8rem;
    line-height: 60px;
    min-width: 60px;
    transition: color .5s;
}
.red:hover{
    box-shadow: var(--shadow-hover-inset);
    border: 2px solid var(--bg);
    color: var(--color);
    width: 150px;
}

.rb{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    align-items: center;
    margin: auto;
    z-index: 0;
}
.rb-bttn{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    width: auto;
    aspect-ratio:inherit;
}
.rb-bttn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg, red, blue, deeppink, blue, red, blue, deeppink, blue
    );
    background-size: 800%;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.rb-bttn2{
    padding: 2px;
    background: linear-gradient(45deg, red, blue);
    border-radius: 12px;
}
.rb-bttn2 > button{
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    width: auto;
    aspect-ratio:inherit;
}

.menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
    /* background: black; */
    z-index: 0;
}
.menu-div > ul{
    position: relative;
}
.menu-div > ul > li{
    text-align: center;
}
.menu-div > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s;
}
.menu-div > ul:hover > li > a{
    color: #0002;
}
.menu-div > ul > li:hover > a{
    /* color: #000; */
    background: transparent;
}
.menu-div > ul > li > a:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
    width: 100%;
}
.menu-div > ul > li > a:hover:before{
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px;
}
.menu-div > ul > li:nth-child(6n+1) > a:before{
    background-color: #4158D0;
    background-image: linear-gradient(
        45deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%
    );
}
.menu-div > ul > li:nth-child(6n+2) > a:before{
    background-color: #0093E9;
    background-image: linear-gradient(
        160deg, #0093E9 0%, #80D0C7 100%
    );
}
.menu-div > ul > li:nth-child(6n+3) > a:before{
    background-color: #00DBDE;
    background-image: linear-gradient(
        90deg, #00DBDE 0%, #FC00FF 100%
    );
}
.menu-div > ul > li:nth-child(6n+4) > a:before{
    background-image: linear-gradient(
        120deg, #84FAB0 0%, #8FD3F4 100%
    );
}
.menu-div > ul > li:nth-child(6n+5) > a:before{
    background-color: #FBAB7E;
    background-image: linear-gradient(
        62deg, #FBAB7E 0%, #F7CE68 100%
    );
}
.menu-div > ul > li:nth-child(6n+6) > a:before{
    background-color: #00DBDE;
    background-image: linear-gradient(
        180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%
    );
}

.border-radius{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.border-radius-ejemplos{
    display: flex;
    justify-content: space-around;
}
.border-radius-texto{
    width: 50%;
    background-color: #11212e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.border-radius-texto > p{
    color: #567c7e;
    font-weight: 600;
    font-size: 13px;
}
.border-radius-texto > p:last-child{
    opacity: 50%;
}
.cuadrado{
    width: 30%;
    border-radius: 10px;
    background-color: #3e396c;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cuadrado > div{
    background-color: #fd9950;
    width: 80%;
    aspect-ratio: 2/1;
}

.glass-bg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1324 339L1323 38' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M301 483L300 256' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M146 89L145 473' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1124 216L1123 -80' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M296 87L295 -163' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1301 347L1300 104' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M31 106L30 398' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1027 333L1026 60' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M207 352L206 189' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M767 476L766 637' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1290 506L1289 798' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1321 323L1320 517' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M621 385L620 643' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M697 391L696 749' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M514 223L513 -163' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M129 540L128 817' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1387 203L1386 389' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1353 548L1352 185' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M903 325L902 15' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1369 153L1368 -9' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M417 487L416 191' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M625 134L624 -173' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M217 105L216 379' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1218 23L1217 374' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M87 490L86 635' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M195 79L194 407' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1148 369L1147 680' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M422 200L421 475' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1109 29L1108 193' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1063 95L1062 317' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M345 253L344 451' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1189 272L1188 -28' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M376 116L375 319' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M621 329L620 670' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1238 418L1237 267' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1369 452L1368 660' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");    
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass{
    background-color: #FFFFFF44;
    backdrop-filter: blur(2px);
    padding: 20px;
    text-align: center;
    width: 50%;
    border-radius: 9px;
}


