*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: crosshair;
}

button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%; /* make the button round */

    position: absolute;
    transition: transform 0.2s ease-out;

}
button:hover{
    cursor: pointer;
}

.div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:black;
}

.div2{
    /* background-color: red; */
    width: 400px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}
